$color-bg: #340a0b;
$color-text: bisque;
$color-button: #3e6e8e;

$font-text: 'Yatra One', system-ui;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-thin: 100;

$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 50px;
