@use '../utils/variables' as variables;

footer {
    background-color: variables.$color-bg;
    color: variables.$color-text;
    font-family: variables.$font-text;
    font-weight: variables.$font-weight-normal;
    font-style: normal;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    line-height: 1.2;
}

div h5 {
    text-align: center;
    display: inline-flex;
    margin: 0;
}

.wrapper-footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 15%;
    flex-wrap: wrap;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.newsletter-box {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.policy-privacy-box {
    font-size: xx-small;
    place-self: center;
}

.contact {
    text-align: end;
}
.number,
.mail {
    margin: 0;
    padding: 0;
    text-align: end;
}

.container {
    flex-wrap: wrap;
}