@use '../utils/variables' as variables;
@use '../utils/mixins' as mixins;

.navbar {
    padding: variables.$spacing-small;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: variables.$color-bg !important;
}

.logo {
    color: variables.$color-text;
    font-size: 24px;
    font-weight: bold;
    width: 150PX;
    height: auto;
}

.menu {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;

    li {
        margin-left: variables.$spacing-medium;
        text-decoration: underline;
    }

    a {
        color: variables.$color-text;
        text-decoration: none;
        font-size: 18px;
        margin: variables.$spacing-small;
    }
}

.menu-icon {
    @include mixins.responsive-hidden;
    font-size: 20px;
    color: variables.$color-text;
    cursor: pointer;
    position: absolute;
}

#toggle-menu {
    display: none;
    position: absolute;
}

.titulo-imagen {
    width: 70px;
    display: block;
    margin: 10px;
    opacity: 0;
    transform: translateY(-10px);
    animation:
        fadeSlideDown 0.6s ease-out forwards,
        softPulse 4s ease-in-out infinite;
    animation-delay: 0.2s, 0.8s;
}

@keyframes fadeSlideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}