header {
    background-color: #340a0b;
    color: bisque;
    font-family: "Yatra One", system-ui;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titulo-imagen {
    width: 200px;
    display: block;
    margin: 50px auto 50px auto;
}
  
  .navbar {
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .logo {
    color: bisque;
    font-size: 24px;
    font-weight: bold;
  }
  .menu {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-left: 20px;
    text-decoration: underline
  }
  
  .menu a {
    color: bisque;
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
  }

  #toggle-menu {
    display: none;
  }
  
  .menu-icon {
    display: none;
    font-size: 20px;
    color:bisque;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      align-items: center;
      font-size: 20px;
      top: 60px;
      right: 0;
      width: 200px;
      border-radius: 10px;
      padding: 10px 0;
    }
  
    .menu li {
      margin: 20px 0;
      text-align: center;
    }
  
    .menu-icon {
      display: block;
    }

    #toggle-menu:checked + .menu-icon + .menu {
      display: flex;
    }
  }  

/* nav ul {
    list-style: none;
    display: inline-flex;
    text-align: center;
}

.interlineado:hover {
    text-decoration: underline;
}

/*@media (max-width: 500px) {
    ul li {
        font-size: 20px;
        flex-direction: column;
        align-items: center;
    }
}*/

/* nav ul li {
    margin-left: 50px;
}

@media (max-width: 768px) {
    ul li {
        display: none;
        flex-direction: column;
        background-color: bisque;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        text-align: center;
        border-radius: 0 0 10px 10px;
    }
}
    a {
        color: #ffe4c4;
        text-decoration: none;
    } */ */

    h1 {
        color: #340a0b;
        font-family: "Yatra One", system-ui;
        font-weight: 100px;
        font-style: normal;
        text-align: center;
    }

    h2 {
        color: #340a0b;
        font-family: "Yatra One", system-ui;
        font-weight: 100px;
        font-style: normal;
        text-align: center;
    }

    .modelos-destacados {
        padding: 10px;
    }

    h3 {
        color: #340a0b;
        ;
        font-family: "Yatra One", system-ui;
        font-weight: 600px;
        font-style: normal;
        padding-block: 10px;
        justify-content: center;
        text-align: center;
    }

    .instrumentos-inicio img {
        display: flex;
        width: 100%;
        height: 350px;
        flex-direction: row;
    }

    .guitarrista-inicio img {
        display: flex;
        height: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self: center;
    }

    section {
        color: #340a0b;
        font-family: "Yatra One", system-ui;
        font-weight: 100px;
        font-style: normal;
    }

    h2 {
        background-color: #340a0b;
        color: bisque;
        font-family: "Yatra One", system-ui;
        font-weight: 600px;
        font-style: normal;
        padding: 5px;
        justify-content: center;
    }

    p {
        width: 100%;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: large;
        padding: 10px;
        margin: 20px;
    }

    .musical-world {
        text-align: left;
    }

    .contact {
        text-align: right;
    }

    .number {
        text-align: right;
    }

    .mail {
        text-align: right;
    }

    div h5 {
        text-align: center;
        display: inline-flex;
    }

    footer {
        background-color: #340a0b;
        color: bisque;
        font-family: "Yatra One", system-ui;
        font-weight: 400;
        font-style: normal;
    }

    .colorBotom {
        background-color: #340a0b;
        width: max-content;
        padding: 5px;
        color: bisque;
        cursor: pointer;
        border-radius: 5px;
        align-self: center;
    }

    .colorBotom:hover {
        background-color: #3e6e8e;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .card-width {
        width: 18rem;
        margin: 10px;
    }

    .card-container {
        flex-wrap: wrap;
        padding: 1rem;
        margin-bottom: 1rem;
        margin-block: 20px;
        margin: 10px;
    }

    .card-img {
        width: 200px;
        height: 200px;
        place-self: center;
    }

    .card-body-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-body-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
    }

    .card:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    .section-container {
        justify-self: center;
    }

    .carousel-inner {
        width: 75%;
        justify-self: center;
    }

    .img-carousel {
        width: 100%;
        height: 400px;
    }

    .newsletter-box {
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    .policy-privacy-box {
        font-size: xx-small;
        place-self: center;
    }

    .wrapper-footer {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
    }

    .footer-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container {
        flex-wrap: wrap;
    }